<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <wsHttpBinding>
            <binding name="sessionBinding">
              <security mode="None" />
              <reliableSession enabled="true" />
            </binding>
          </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://virtualclassroomservices.apphb.com/Services/AdminService.svc"
                binding="wsHttpBinding" bindingConfiguration="sessionBinding"
                contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
        </client>
    </system.serviceModel>
</configuration>